*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: bisque;
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 80px;
    background: #11101b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #fefefe;
    
}
.logo{
    display: flex;
    gap: 5px;
}
.logo:hover{
    font-size: 26px;
}
.logo img{
    height: 50px;
}

.nav-bar ul {
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    color: #11101b;
    background: #fefefe;
}




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

/* p {
    line-height: 1.6;
    color: #000000;
} */


.contact-info {
    margin-top: 20px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-info ul li strong {
    color: #333;
}
footer{
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}
